*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #333;
}
header h1{
    float: left;
    width: 20%;
}
header::after{
    content: "";
    display: block;
    clear: both;
}
header h1 a{
    display: block;
    color: #fff;
    line-height: 50px;
}
header nav{
    float: right;
    width: 60%;
}
header .depth01{}
header .depth01 > li{
    float: left;
    width: 25%;
    position: relative;
}
header .depth01::after{
    content: "";
    display: block;
    clear: both;
}
header .depth01 > li > a{
    display: block;
    color: #fff;
    line-height: 50px;
}
header .depth02{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.7s;
    height: 0;
}
header .depth02 li{}
header .depth02 li a{
    display: block;
    color: #fff;
    line-height: 50px;
    background-color: #333;
}
header .depth01:hover .depth02{
    height: 250px;
}
header .depth01 > li:hover > a{
    background-color: #fff;
    color: #333;
}
header .depth02 li:hover a{
    background-color: #fff;
    color: #333;
}